<div class="header">
        <div class="head_line">
           <h3>Shopping Website</h3> 
        </div>

        <ol class="buttons"> 
           <li>About</li>
           <li>Contact</li>
       </ol>
       <div id="logo">
           <img src="../../assets/images/512x512bb.jpg" alt="">
       </div>
       <ol class="communications">
           <li>
               <img src="../../assets/images/facebook.png" alt="">
               <img src="../../assets/images/instagram.png" alt="">
               <img src="../../assets/images/twitter.png" alt="">
           </li>
       </ol>
</div>
<div class="image_view"></div>