

* {
    font-family: 'Hind', sans-serif;
    box-sizing: border-box;
}

.container {
   display: grid;
   grid-template-columns: 2fr 1fr;
   align-items: center;
   justify-content: center;
   grid-column-gap: 20px;
   background-image: url("https://upload.wikimedia.org/wikipedia/commons/1/13/Supermarkt.jpg");
   min-height: 400px;
 }

 .products {
    min-height: 400px;
    background: rgba(234, 252, 237, 0.85);
    padding: 5px;
    
 }
.display_products {
    
    margin: 0; 
    text-align: center;  
    
}


.display_product {
    display: grid;
    grid-template-columns: 24% 24% 5rem 4rem 4rem;
    align-items: center;
    grid-column-gap: 1rem;
    width: 100%;
}

.cell {
    
    border: 1px solid #aaa;
    box-sizing: border-box;
}

p:hover,
h4:hover {
    animation: on_cell 800ms 0s 1 ;
}

#edit {
    color: white;
    background: green;
    padding: 10px;
    border-radius: 18%;
    cursor: pointer;
    border: 1px black solid;
}

#edit:hover {
    color: green;
    background: white;
    font-weight: bold;
}


#delete {
    color: white;
    background: rgba(240, 64, 72, 0.8);
    padding: 10px;
    border-radius: 18%;
    cursor: pointer;
    border: 1px black solid;
}

#delete:hover {
    color: rgba(240, 64, 72, 0.8);
    background: white;
    font-weight: bold;
}

.editMode {
    background: rgba(217, 242, 140, 0.8);
    border: 1px solid white;
    color: rgba(0, 116, 232, 0.8);
    animation: paint_edit 3s 0s 1 ease-out forwards;
}

.div1 {
    width: 100%;
    margin: 0;
    filter: invert(5px);
    height: 100%;
    /*filter: contrast(1.75);*/
    background: rgba(192, 210, 228, 0.85);
    position: relative;
}

.display_edit {
   /*padding-left: 5%; */
   position: -webkit-sticky;
   position: sticky;
   z-index: 1;
   background: rgba(192, 210, 228, 0.85);
   padding: 20px;
   width: 80%;
   top: 20%;
   border: 2px black solid;
   animation: edit_show 2s 0s 1 ease-out forwards;
   box-sizing: border-box;
   margin-left: 10%;
   margin-top: 40%;
}

@media(max-width : 54rem) {
    
    .display_products {
        padding-left: 22%;
        box-sizing: border-box;
        border: 1px black solid;
        margin-bottom: 5px; 
        /*height: 180px;*/
    }

    .center {
        justify-content: center;
    }

    .display_product {
        display: grid;
        /*grid-template-columns: repeat(4, 25%);*/
        grid-template-areas: 'category category'
                             'name name'
                             'amount amount'
                             'edit delete';
        
        padding: 5px; 
        width: 100%;    
    }

    .cell {
        margin: 3px;
    }

    #category{
        grid-area: category;  
    }
    #name {
        grid-area: name;  
    }
    #amount {
        grid-area: amount; 
    }
    #edit {
        grid-area: edit;
        padding: 5px;
    }
    #delete {
        grid-area: delete;
        padding: 5px;
    }

    .display_edit {
        
        position: -webkit-fixed;
        position: fixed;
        z-index: 1;
        background: rgba(192, 210, 228, 0.85);
        padding: 20px;
        width: auto;
        border: 2px black solid;
        animation: edit_show 2s 0s 1 ease-out forwards;
        box-sizing: border-box;
        margin-left: -264px;
        margin-top:  160px;
        height: 260px;
        width: 240px;
        
        
        
     }

}





@keyframes on_cell {
    0% {
      transform: rotateZ(0);
    }
    33% {
      transform: rotateZ(15deg);
    }
    66% {
      transform: rotateZ(-15deg);
      color: navy;
        font-weight: bold;
    }
    100% {
        transform: rotateZ(0);
        color: navy;
        font-weight: bold;
      }
  }

  @keyframes paint_edit {
    from {
      background: white;
    }
    
    to {
        background: rgba(217, 242, 140, 0.8);
        color: navy;
      }
  }

  @keyframes edit_show {
    from {
        margin-left: 100%;
     
    }
    
    to {
        
      }
  }
 
