<div class="background">
    <div>
      <h2 id="head_line">About the website</h2>  
    </div>
   
   <div class="explanation">
     <ul>
       <li> <p>This is a site designed to help users prepare a shopping list.</p></li>
       <li>  <p>Each product contains 3 features: Category, Name and Amount.</p></li>
       <li> <p>The products are sorted by ABC by category name and then by product name. This can help save unnecessary walking to the same shopping area.</p></li>
       <li> <p>The site is easy and convenient to operate. You can add, edit and delete a product.
            All data is stored in the database and will be loaded every time a user logs on to the site.</p></li>
       <li>
        <p>You can also search for a product by name or by category.
            The system will reload all products that match the user's search request.</p></li>
      </ul>
       
      
       
       
   </div>
   
</div>