* {
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    box-sizing: border-box;
    text-align: center;
}



.container {
    display: grid;
    grid-template-columns: min-content min-content;
    grid-column-gap: 3rem;
    padding: 10px;  
    justify-content: center;
}

.container button {
    background: rgba(218, 242, 199, 0.8);
    width: 8rem;
    padding: 5px;
    color: blue;
    border: 1px black solid;
}

.container button:hover {
    background: blue;
    color: white;
    font-weight: bold;
}

.add_product {
    display: grid;
    grid-template-columns: 24% 24% 5rem 9rem;
    grid-column-gap: 1rem;
    padding-top: 10px;
    width: 100%;
    align-items: center;
}

.add_product_disappear_animation {
    animation: add_product_disappear 1s 0s 1 ease-out forwards;
}

.add_product input {
    padding: 5px;
    font-size: 12px;
}

.add_product button {
    padding: 5px;
    background: rgba(211, 240, 125, 0.8);
    color: blue;
    border: 1px black solid;
    font-weight: bold;
}

.add_product button:hover {
    background: blue;
    color: white
}

#incorrect {
    color: red;
    margin: 5px;
    grid-column-start: 1;
    grid-column-end: -1;
    animation: bounceInLeft 1s 0s 1 ease-out;
}

.search_product {
    display: grid;
    grid-template-columns: 24% 24%;
    grid-column-gap: 1rem;
    padding-top: 10px;
}

.search_product input {
    padding: 5px;
    font-size: 12px;
}

@media(max-width : 54rem) {
    .add_product {
        display: block;
        padding-left:0; 
    }
    .add_product input {
        display: block;
        width: 100%;
        box-sizing: border-box;
        margin-top: 10px;
    }
    .add_product button {
        margin-top: 10px;
        margin-bottom: 7px;
        width: 100%;
    }

    #incorrect {
        width: 100%;
        margin-bottom: 7px;
    }
    .search_product {
        display: block;
        padding-left:0; 
    }
    .search_product input {
        padding: 5px;
        display: block;
        width: 100%;
        box-sizing: border-box;
        margin-bottom: 7px;
    }
}

@keyframes bounceInLeft {
    0% {
        color: transparent;
  }
  33% {
      background: rgba(240, 64, 72);
      color: white;
      padding: 5px;
  }
  66% {
    background: darkred;
    color: white;
    padding: 5px;
}
  
100% {
    background: transparent;
    color: red;
  }
}

@keyframes add_product_disappear {
    from {
        display: grid;
        grid-template-columns: 24% 24% 5rem 9rem;
        grid-column-gap: 1rem;
        padding-top: 10px;
        width: 100%;
        align-items: center;
    }
    to {
        opacity: 0;
    }
}


